/***
Control Panel Page
***/

.page-container {
	margin-top:0px;
}

.page-content {
	padding:0px !important;
	background-color: #3d3d3d;
	min-height: 60px;
}

.container-fluid {
	padding-left:0px;padding-right:0px;
}

.portlet {
	margin-bottom:0px;
}

.portlet.box .portlet-title {
	padding: 1px 10px 1px 10px;
}

.portlet-title .caption {
	font-size:12px;
	font-weight:600;
	margin-bottom:0px;
}

.portlet.box .portlet-body {
	padding:1px;
}

.row-fluid [class*="span"]{
	min-height: 25px;
}

.table {
	margin-bottom: 10px;
	font-size: 12px;
}

.table thead tr th {
	font-size: 12px;
	text-align: center;
}

.table thead tr th i {
	margin-right: 2px;
}

.table th, .table td {
	padding: 0 1px 0 1px;
	line-height: 20px;
	vertical-align: middle;
	
}

.table .details {
	background-color: #eee !important;
}

.control-group {
	margin: 8px 5px 0px 0px;
}

input[class*="span"].m-wrap
{
  float: none;
  height: 25px !important;
  min-height: 25px;
  margin-left: 0;
  font-size: 12px;
}

div.checker {
	margin-right: 0px;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 12px;
}

.uneditable-input,
textarea.m-wrap,
input[type="text"].m-wrap,
input[type="password"].m-wrap,
input[type="datetime"].m-wrap,
input[type="datetime-local"].m-wrap,
input[type="date"].m-wrap,
input[type="month"].m-wrap,
input[type="time"].m-wrap,
input[type="week"].m-wrap,
input[type="number"].m-wrap,
input[type="email"].m-wrap,
input[type="url"].m-wrap,
input[type="search"].m-wrap,
input[type="tel"].m-wrap,
input[type="color"].m-wrap { 
  padding: 0px !important;
  font-size: 12px;  
}


.dataTables_filter label {
	line-height: 25px !important;
	font-size: 12px;
	padding: 0;
	margin-bottom: 2px;
}

.pagination ul>li>a, .pagination ul>li>span {
	padding: 2px 6px;
}

.btn {
	padding: 2px 6px;
	font-size: 12px;
}

@media (max-width: 250px) {
	.hidden-250 {
		display: none;
	}
}

@media (max-width: 300px) {
	.hidden-300 {
		display: none;
	}
}

.portlet-title .actions > .btn {
	padding: 1px 5px;
}

.portlet-title .actions > .btn-group > .btn {
	padding: 1px 5px;
	margin-top : 4px;
}

.portlet-body .btn-group {
	margin-top: 2px !important;
	margin-bottom: 0 !important;
}

.dropdown-menu li > a {
	padding: 4px 0 4px 10px;
}

.dropdown-menu .divider {
	margin: 1px 1px;
}

.accordion-heading {
	background: #e5e5e5;
}

.accordion-heading.blue {
	background: #4b8df8;
}

.accordion-heading.purple {
	background: #852b99;
}

.accordion-heading.green {
	background: #35aa47;
}

.accordion-heading.yellow {
	background: #ffb848;
}

.accordion-heading.red {
	background: #d84a38;
}

.accordion-heading.black {
	background: #555555;
}

.accordion-heading .accordion-toggle{
	padding: 2px 8px;
}

.accordion-inner {
	min-height: 105px;
	max-height: 230px;
	padding: 0px !important;
	border: none;
	overflow-x: hidden; 
	overflow-y:auto;
}

.portlet-body::-webkit-scrollbar{width: 5px;}
.portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #000000;}
.portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #000000;}

.accordion-inner::-webkit-scrollbar{width: 5px;}
.accordion-inner::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #e5e5e5;}
.accordion-inner::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #e5e5e5;}

.accordion-inner.blue::-webkit-scrollbar{width: 5px;}
.accordion-inner.blue::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #4b8df8;}
.accordion-inner.blue::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #4b8df8;}

.accordion-inner.purple::-webkit-scrollbar{width: 5px;}
.accordion-inner.purple::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #852b99;}
.accordion-inner.purple::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #852b99;}

.accordion-inner.green::-webkit-scrollbar{width: 5px;}
.accordion-inner.green::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #35aa47;}
.accordion-inner.green::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #35aa47;}

.accordion-inner.yellow::-webkit-scrollbar{width: 5px;}
.accordion-inner.yellow::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #ffb848;}
.accordion-inner.yellow::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #ffb848;}

.accordion-inner.red::-webkit-scrollbar{width: 5px;}
.accordion-inner.red::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #d84a38;}
.accordion-inner.red::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #d84a38;}

.accordion-inner.red::-webkit-scrollbar{width: 5px;}
.accordion-inner.red::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #555555;}
.accordion-inner.red::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #555555;}

.accordion {
	margin-bottom: 0;
}