/***
Control Panel Page
***/

.page-container {
	margin-top:0px;
}

.page-content {
	padding:0px !important;
	background-color: #3d3d3d;
	min-height: 60px;
}

.container-fluid {
	padding-left:0px;padding-right:0px;
}

.portlet {
	margin-bottom:0px;
}

.portlet.box .portlet-title {
	padding: 1px 10px 1px 10px;
}

.portlet-title .caption {
	font-size:12px;
	font-weight:600;
	margin-bottom:0px;
}

.portlet.box .portlet-body {
	padding:1px;
}

.row-fluid [class*="span"]{
	min-height: 25px;
}

.portlet.box.blue{
	border-left: 2px solid #b4cef8;
	border-right: 2px solid #b4cef8;
}

.portlet.box.purple{
	border-left: 2px solid #af5cc1;
	border-right: 2px solid #af5cc1;
}

.portlet.box.green{
	border-left: 2px solid #77e588;
	border-right: 2px solid #77e588;
}

.portlet.box.yellow{
	border-left: 2px solid #fccb7e;
	border-right: 2px solid #fccb7e;
}

.portlet.box.red{
	border-left: 2px solid #ef8476;
	border-right: 2px solid #ef8476;
}

.portlet.box{	
	border-left: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
}

.portlet.box.grey{	
	border-left: 2px solid #9d9c9c;
	border-right: 2px solid #9d9c9c;
}

.table {
	margin-bottom: 10px;
	font-size: 12px;
}

.table thead tr th {
	font-size: 12px;
	text-align: center;
}

.table thead tr th i {
	margin-right: 2px;
}

.table th, .table td {
	padding: 0 1px 0 1px;
	line-height: 20px;
	vertical-align: middle;
	
}

.table .details {
	background-color: #eee !important;
}

.control-group {
	margin: 8px 5px 0px 0px;
}

input[class*="span"].m-wrap
{
  float: none;
  height: 25px !important;
  min-height: 25px;
  margin-left: 0;
  font-size: 12px;
}

div.checker {
	margin-right: 0px;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 12px;
}

.uneditable-input,
textarea.m-wrap,
input[type="text"].m-wrap,
input[type="password"].m-wrap,
input[type="datetime"].m-wrap,
input[type="datetime-local"].m-wrap,
input[type="date"].m-wrap,
input[type="month"].m-wrap,
input[type="time"].m-wrap,
input[type="week"].m-wrap,
input[type="number"].m-wrap,
input[type="email"].m-wrap,
input[type="url"].m-wrap,
input[type="search"].m-wrap,
input[type="tel"].m-wrap,
input[type="color"].m-wrap { 
  padding: 0px !important;
  font-size: 12px;  
}


.dataTables_filter label {
	line-height: 25px !important;
	font-size: 12px;
	padding: 0;
	margin-bottom: 2px;
}

.pagination ul>li>a, .pagination ul>li>span {
	padding: 2px 6px;
}

.btn {
	padding: 2px 6px;
	font-size: 12px;
}

@media (max-width: 250px) {
	.hidden-250 {
		display: none;
	}
}

@media (max-width: 300px) {
	.hidden-300 {
		display: none;
	}
}

.portlet-title .actions > .btn {
	padding: 1px 5px;
}

.portlet-title .actions > .btn-group > .btn {
	padding: 1px 5px;
	margin-top : 4px;
}

.portlet-body .btn-group {
	margin-top: 2px !important;
	margin-bottom: 0 !important;
}

.dropdown-menu li > a {
	padding: 4px 4px 4px 10px;
}

.dropdown-menu .divider {
	margin: 1px 1px;
}

.portlet-body {
	overflow-x: hidden; 
	overflow-y:auto;
}

.portlet-body::-webkit-scrollbar{width: 5px;}
.portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #000000;}
.portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #000000;}

.accordion-inner::-webkit-scrollbar{width: 5px;}
.accordion-inner::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #e5e5e5;}
.accordion-inner::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #e5e5e5;}

.portlet.box.blue > .portlet-body::-webkit-scrollbar{width: 5px;}
.portlet.box.blue > .portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #4b8df8;}
.portlet.box.blue > .portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #4b8df8;}

.portlet.box.purple > .portlet-body::-webkit-scrollbar{width: 5px;}
.portlet.box.purple > .portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #852b99;}
.portlet.box.purple > .portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #852b99;}

.portlet.box.green > .portlet-body::-webkit-scrollbar{width: 5px;}
.portlet.box.green > .portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #35aa47;}
.portlet.box.green > .portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #35aa47;}

.portlet.box.yellow > .portlet-body::-webkit-scrollbar{width: 5px;}
.portlet.box.yellow > .portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #ffb848;}
.portlet.box.yellow > .portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #ffb848;}

.portlet.box.red > .portlet-body::-webkit-scrollbar{width: 5px;}
.portlet.box.red > .portlet-body::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px; border:1px solid #d84a38;}
.portlet.box.red > .portlet-body::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #d84a38;}

#group_title {
	height: 28px;
}

#group_row {
	background-color: #fff;
	position: absolute;
	top: 254px;
	bottom: 0;
}

.tools .updown {width:10px; height:24px; float:left; margin-top:-3px; padding:0;}

#group_title .portlet-title {border: 1px solid #e5e5e5; border-left: none; border-right: none; height: 24px;}

.portlet.box .portlet-title .tools.group {overflow-x: hidden; overflow-y: hidden; margin: 1px 5px; text-align:right; height:22px;}

.portlet.box .portlet-title .tools.group span{padding:2px 2px; width:14px; height:14px; margin:0; border:2px solid #3d3d3d;}

.portlet.box .portlet-title .tools.group span.active{border: 2px solid whitesmoke;}